.startsWithWater {
    height: 100px;
    transition: background-image 0.3s ease;
    background-image: none; 
}

/* Agrega un ID para la tarjeta en la que deseas aplicar el efecto */
#startsWithWater:hover {
    background-image: url('http://t0.gstatic.com/licensed-image?q=tbn:ANd9GcR4q6_UQcESKRPmKR07zh312z-ISU1Q0VwwGIqhR1lZv7B4ZLHroXeRD25eUtEq1zpggfJkmAnqVQTOBL0OFW0'); /* Reemplaza 'URL_DE_TU_IMAGEN' con la URL de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Estilo para el título */
.card-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: black;
}